@model List<Queries.DailyProcedureStatistics>
@{
    ViewData["Title"] = "Procedures";
}

<h1>Procedures Summary</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Count</th>
            <th>Average Duration</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var day in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("ProceduresByDate", "Home", new { date = day.Date.ToString("yyyy-MM-dd") })">
                    @day.Date.ToString("dd-MM-yy")
                </a>
            </td>
            <td>@day.ProcedureCount</td>
            <td>@day.AverageProcedureDuration</td>
        </tr>
    }
    </tbody>
</table>
